<!-- HOME -->
<div id="buttons" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>

    <div class="header pt-44 pt-md-88" fxLayout="column" fxLayoutAlign="center center" fxFlex="0 0 auto" [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1> Bienvenido </h1>
    </div>

    <!-- BUTTON LIST -->
    <div class="button-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center" [@animateStagger]="{value:'50'}">

        <!-- BUTTON -->
        <div class="button-list-item" routerLink="/keypair" fxLayout="column" fxLayoutAlign="center center" [@animate]="{value:'*',params:{y:'100%'}}">
            <mat-icon class="s-56">vpn_key</mat-icon>
            <div class="button-name">Generar par de claves</div>
        </div>
        <!-- / BUTTON -->
        
        <!-- BUTTON -->
        <div class="button-list-item" routerLink="/encriptar" fxLayout="column" fxLayoutAlign="center center" [@animate]="{value:'*',params:{y:'100%'}}">
            <mat-icon class="s-56">lock</mat-icon>
            <div class="button-name">Encriptar</div>
        </div>
        <!-- / BUTTON -->

        <!-- BUTTON -->
        <div class="button-list-item" routerLink="/process-list" fxLayout="column" fxLayoutAlign="center center" [@animate]="{value:'*',params:{y:'100%'}}">
            <mat-icon class="s-56">lock_open</mat-icon>
            <div class="button-name">Desencriptar</div>
        </div>
        <!-- / BUTTON -->
    </div>
    <!-- / BUTTON LIST -->
</div>
<!-- / HOME -->